.text{
    text-align: left;
    background-color: black;
    height: 550px;
    width: 570px;
    padding: 90px;
    margin: 66px;
    border-top-left-radius: 45px;
    border-top-right-radius: 55px;
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 45px;
}

.h{
    color: white;
    font-family: "Roboto";

}
.p{
    color: white;
    font-family: Bree Serif;
    font-size: 25px;
    padding: 20px;


}

.b{
    color: black;
     height: 35px;
    width: 150px;
    padding: 25px;
    margin: 25px;


}