.color-palette-heading{
    font-size: 35px;
    text-align: center;
    font-weight: bold;
}

.color-box{
    padding: 30px;
}

.color-name{
    color: white;
    font-size: 20px;
    text-align: center;
}

.column-spacing{
    margin-bottom: 30px;
}

