* {
    padding: 0px;
    margin: 0px;
}

.bg-container {
    background-color: #ffffff;
    height: 100;
    background-size: cover;
    font-family: "Roboto";
    padding: 25px;
}

.heading{
    background-color: #ffffff;
    color: #323f4b;
    font-family: Roboto;
    padding: 25px;
}

.paragraph{
    color: #9aa5b1;
    background-color: #ffffff;
    padding: 25px;
}

.Pictures{
    padding: 25px;
    
}

.videos{
    font-family: "Roboto";
    height: 250px;
    width: 100
   
    
}