.bg-container{
    background-image: url("./WhatsApp\ Image\ 2025-10-10\ at\ 11.47.38\ PM.jpeg");
    height: 100vh;
    width: 50vw;
    background-size: cover;
}

.card{
    text-align: center;
    background-color: white;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    padding: 5px;
}

.heading{
    color: crimson;
    font-family: "Caveat";
    font-size: 50px;
    font-weight: bold;
    font-style: italic;
}
.paragraph{
    color: black;
    font-weight:inherit;
    font-size: 25px;
}

.button{
    height: 30px;
    width: 150px;
    background-color: #25b1cc;
    color: white;
    border-radius: 20px;
    border-width: 0px;
}
.button{
    text-align: center;
}

.favourite-places-bg-container{
    background-image: url("https://img.freepik.com/free-photo/abstract-textured-backgound_1258-30523.jpg?semt=ais_hybrid&w=740&q=80");
    height: 100vh;
    background-size: cover;
}

.favourite-places-heading{
    color: white;
    font-size: 25px;
    font-family: 'Roboto';
    font-weight: bold;
    padding: 24px;
}

.favourite-place-card-container{
    background-color: white;
    color: #0f0e46;
    font-family:'Roboto';
    font-weight: bold;
    font-size: 23px;
    padding: 16px;
    margin-top: 25px;
}

.favourite-place-card-description{
    font-family: 'Roboto';
    font-size: 13px;
    color: #6c6b70;
}

.favourite-place-card-image{
    width: 80px;
    height: 100px;
}

.detailed-view-heading{
    color: white;
    font-size: 65px;
    font-family: "Roboto";
    font-weight: bold;
    padding: 55px;
}

.detailed-view-bg-container{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRaryCgQGaOlkfPfq_1xHPLN94uj4aDD2Xw2Q&s");
    background-size: cover;
    height: 100vh;
}

.detailed-view-card-container{
    background-color: white;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    margin: 45px;
}

.detailed-view-card-heading{
    color: #0f0e46;
    font-family: "Roboto";
    font-weight: bold;
    font-size: 100px;
}

.detailed-view-card-description{
    font-family: 'Roboto';
    font-size: 65px;
    color: #6c6b70
}

.detailed-view-card-text-container{
    padding: 10px;
}