.bg-container{
    background-image: url("https://d2clawv67efefq.cloudfront.net/ccbp-static-website/codingbg.png");
    height: 100vh;
    background-size: cover;
    padding: 200px;
    margin: 100px;
    
}

.h{
    color: white;
    text-align: center;
    font-family: "Bree serif";
    border-color: #48ee59;
    border-style: solid;
    background-color: #00000080;
    border-width: 6px;
    padding: 65px;
}

.card{
    font-size: 450px;
}